.container{
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin:  0 auto;
  }
  
.header {
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
    margin-bottom: 60px;
}

.header .menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: right;
    align-items: center;
}

.header .menu .menu-item {
    padding: 0 16px;
}

.icon svg{
    width: 100%;
    display: block;
}
.icon{
    max-width: 30px;
    width: 100%;
    padding: 6px;
    background: rgba(229,231,235,.7);
    border-radius: 50%;
    cursor: pointer;
}
