@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.main .inner-wrap{
  display: flex;
  justify-content: space-between;
}

.main .icon {
  width: 34px;
}

.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
  text-align: center;
}


.main .logo {
  max-width: 260px;
  width: 100%;
  margin: 0 auto 20px;
}
